h3.question-title {
  text-align: center;
  width: 650px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

div.content {
  text-align: center;
  background-color: rgb(222, 232, 238);
  border-radius: 25px;
  width: 650px;
  padding: 20px;
}

div.answer {
  border: 5px dashed rgb(46, 65, 120);
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  padding-bottom: 35px;
}
