h3.score {
  text-align: center;
  width: 400px;
  padding: 20px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 50px;
  background-color: rgb(156, 168, 190);
  border-radius: 25px;
}

div.answerone {
  text-align: center;
  width: 390px;
  padding: 20px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 50px;
  margin-bottom: 10px;
  border: 5px dotted rgb(221, 35, 18);
  border-radius: 15px;
  background-color: rgb(246, 132, 132);
}

div.answertwo {
  text-align: center;
  width: 390px;
  padding: 20px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 50px;
  margin-bottom: 10px;
  border: 5px dotted rgb(177, 177, 12);
  border-radius: 15px;
  background-color: rgb(255, 255, 174);
}

div.answerthree {
  text-align: center;
  width: 390px;
  padding: 20px;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 50px;
  margin-bottom: 10px;
  border: 5px dotted rgb(16, 222, 50);
  border-radius: 25px;
  background-color: rgb(172, 240, 155);
}

button {
  border-radius: 25px;
  width: 95px;
  background-color: rgb(201, 212, 227);
  color: rgb(8, 28, 55);
  border: 2px solid rgb(32, 33, 65);
  padding: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

div.quiz-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
